In [3]:
import pandas as pd   

data = pd.read_excel("C:\\Users\\Kamil\\OneDrive - НИУ Высшая школа экономики\\PFC\\диплом\\dataset.xlsx")
data
# 1 локальное сообщества
# 0 девелопер,государство

,Place name,City,Square(gectar),Rating (google map),Number of reviews (google map),Numbers of signatures (change.org),Cost for 1sqm (th.rub),Rents’ cost(AVG)(thous. rub,Population of district,who_win
0,Torfyanka,Moscow,16.60,4.5,1229.0,6791,135000,41418,83046,1
1,ZHK Mitino park,Moscow,7.90,4.0,155.0,920,150259,43596,195476,0
2,Park Druzhba,Moscow,51.00,4.6,9844.0,0,224452,40000,54712,1
3,Memorial'no-parkovyy kompleks Geroyev Pervoy m...,Moscow,11.20,4.7,189.0,100,252369,60000,60171,1
4,Khimkinskiy les,Moscow,1000.00,4.5,164.0,0,137851,30000,259550,0
5,Vorontsovskiy park,Moscow,48.70,4.7,8372.0,1828,264444,51000,87458,0
6,park Berezovaya roshcha,Moscow,42.00,4.7,3982.0,1939,308571,75000,72732,1
7,park Dubki,Moscow,18.00,4.5,3464.0,49712,230769,40000,83824,0
8,Narodnyy skver (tsvetnoy bul'var),Moscow,0.50,NaN,NaN,0,375000,130000,61542,1
9,Berezovaya alleya (Levoberezhnyy),Moscow,10.00,4.6,354.0,15254,225275,38000,8469,0
10,Belorusskiy skver na VDNKH,Moscow,2.00,NaN,NaN,37740,234375,46800,63697,0
11,Park Malinovka,Saint-Petersburg,14.42,4.5,4146.0,4229,123000,21808,356628,1
12,Park imeni 300-letiya Sankt-Peterburga,Saint-Petersburg,54.68,4.7,32984.0,96012,128205,25000,573024,0
13,Udel'nyy park,Saint-Petersburg,150.00,4.6,4907.0,2849,138598,27000,522746,0
14,Murinskiy park,Saint-Petersburg,98.00,4.6,8405.0,4388,108696,20000,529187,1

In [4]:
data.describe()

,Square(gectar),Rating (google map),Number of reviews (google map),Numbers of signatures (change.org),Cost for 1sqm (th.rub),Rents’ cost(AVG)(thous. rub,Population of district,who_win
count,15.000000,13.000000,13.000000,15.000000,15.0000,15.000000,15.000000,15.000000
mean,101.666667,4.553846,6015.000000,14784.133333,202457.6000,45974.800000,200817.466667,0.466667
std,251.834487,0.185362,8784.864161,26948.829023,78528.6652,27517.082069,198367.784349,0.516398
min,0.500000,4.000000,155.000000,0.000000,108696.0000,20000.000000,8469.000000,0.000000
25%,10.600000,4.500000,354.000000,510.000000,136425.5000,28500.000000,62619.500000,0.000000
50%,18.000000,4.600000,3982.000000,2849.000000,224452.0000,40000.000000,83824.000000,0.000000
75%,52.840000,4.700000,8372.000000,11022.500000,243372.0000,48900.000000,308089.000000,1.000000
max,1000.000000,4.700000,32984.000000,96012.000000,375000.0000,130000.000000,573024.000000,1.000000

In [5]:
data.corr()

,Square(gectar),Rating (google map),Number of reviews (google map),Numbers of signatures (change.org),Cost for 1sqm (th.rub),Rents’ cost(AVG)(thous. rub,Population of district,who_win
Square(gectar),1.000000,-0.039719,-0.155640,-0.157485,-0.289193,-0.224538,0.193748,-0.262514
Rating (google map),-0.039719,1.000000,0.366848,0.190274,0.371575,0.150724,0.037178,0.239936
Number of reviews (google map),-0.155640,0.366848,1.000000,0.791547,-0.212339,-0.314936,0.556978,-0.151648
Numbers of signatures (change.org),-0.157485,0.190274,0.791547,1.000000,-0.178231,-0.254086,0.314720,-0.441629
Cost for 1sqm (th.rub),-0.289193,0.371575,-0.212339,-0.178231,1.000000,0.883293,-0.705666,0.193552
Rents’ cost(AVG)(thous. rub,-0.224538,0.150724,-0.314936,-0.254086,0.883293,1.000000,-0.543961,0.333787
Population of district,0.193748,0.037178,0.556978,0.314720,-0.705666,-0.543961,1.000000,-0.130885
who_win,-0.262514,0.239936,-0.151648,-0.441629,0.193552,0.333787,-0.130885,1.000000

In [6]:
data = data.drop(['Place name'], axis = 1)
data

,City,Square(gectar),Rating (google map),Number of reviews (google map),Numbers of signatures (change.org),Cost for 1sqm (th.rub),Rents’ cost(AVG)(thous. rub,Population of district,who_win
0,Moscow,16.60,4.5,1229.0,6791,135000,41418,83046,1
1,Moscow,7.90,4.0,155.0,920,150259,43596,195476,0
2,Moscow,51.00,4.6,9844.0,0,224452,40000,54712,1
3,Moscow,11.20,4.7,189.0,100,252369,60000,60171,1
4,Moscow,1000.00,4.5,164.0,0,137851,30000,259550,0
5,Moscow,48.70,4.7,8372.0,1828,264444,51000,87458,0
6,Moscow,42.00,4.7,3982.0,1939,308571,75000,72732,1
7,Moscow,18.00,4.5,3464.0,49712,230769,40000,83824,0
8,Moscow,0.50,NaN,NaN,0,375000,130000,61542,1
9,Moscow,10.00,4.6,354.0,15254,225275,38000,8469,0
10,Moscow,2.00,NaN,NaN,37740,234375,46800,63697,0
11,Saint-Petersburg,14.42,4.5,4146.0,4229,123000,21808,356628,1
12,Saint-Petersburg,54.68,4.7,32984.0,96012,128205,25000,573024,0
13,Saint-Petersburg,150.00,4.6,4907.0,2849,138598,27000,522746,0
14,Saint-Petersburg,98.00,4.6,8405.0,4388,108696,20000,529187,1

In [7]:
cities  =  pd.get_dummies(data['City'], prefix='City')
data = pd.concat([data, cities], axis = 1)
data = data.drop(['City'], axis = 1)
data

,Square(gectar),Rating (google map),Number of reviews (google map),Numbers of signatures (change.org),Cost for 1sqm (th.rub),Rents’ cost(AVG)(thous. rub,Population of district,who_win,City_Moscow,City_Saint-Petersburg
0,16.60,4.5,1229.0,6791,135000,41418,83046,1,1,0
1,7.90,4.0,155.0,920,150259,43596,195476,0,1,0
2,51.00,4.6,9844.0,0,224452,40000,54712,1,1,0
3,11.20,4.7,189.0,100,252369,60000,60171,1,1,0
4,1000.00,4.5,164.0,0,137851,30000,259550,0,1,0
5,48.70,4.7,8372.0,1828,264444,51000,87458,0,1,0
6,42.00,4.7,3982.0,1939,308571,75000,72732,1,1,0
7,18.00,4.5,3464.0,49712,230769,40000,83824,0,1,0
8,0.50,NaN,NaN,0,375000,130000,61542,1,1,0
9,10.00,4.6,354.0,15254,225275,38000,8469,0,1,0
10,2.00,NaN,NaN,37740,234375,46800,63697,0,1,0
11,14.42,4.5,4146.0,4229,123000,21808,356628,1,0,1
12,54.68,4.7,32984.0,96012,128205,25000,573024,0,0,1
13,150.00,4.6,4907.0,2849,138598,27000,522746,0,0,1
14,98.00,4.6,8405.0,4388,108696,20000,529187,1,0,1

In [8]:
y = data['who_win']
y

0     1
1     0
2     1
3     1
4     0
5     0
6     1
7     0
8     1
9     0
10    0
11    1
12    0
13    0
14    1
Name: who_win, dtype: int64

In [9]:
X = data.drop(['who_win'], axis = 1)

In [10]:
X

,Square(gectar),Rating (google map),Number of reviews (google map),Numbers of signatures (change.org),Cost for 1sqm (th.rub),Rents’ cost(AVG)(thous. rub,Population of district,City_Moscow,City_Saint-Petersburg
0,16.60,4.5,1229.0,6791,135000,41418,83046,1,0
1,7.90,4.0,155.0,920,150259,43596,195476,1,0
2,51.00,4.6,9844.0,0,224452,40000,54712,1,0
3,11.20,4.7,189.0,100,252369,60000,60171,1,0
4,1000.00,4.5,164.0,0,137851,30000,259550,1,0
5,48.70,4.7,8372.0,1828,264444,51000,87458,1,0
6,42.00,4.7,3982.0,1939,308571,75000,72732,1,0
7,18.00,4.5,3464.0,49712,230769,40000,83824,1,0
8,0.50,NaN,NaN,0,375000,130000,61542,1,0
9,10.00,4.6,354.0,15254,225275,38000,8469,1,0
10,2.00,NaN,NaN,37740,234375,46800,63697,1,0
11,14.42,4.5,4146.0,4229,123000,21808,356628,0,1
12,54.68,4.7,32984.0,96012,128205,25000,573024,0,1
13,150.00,4.6,4907.0,2849,138598,27000,522746,0,1
14,98.00,4.6,8405.0,4388,108696,20000,529187,0,1

In [11]:
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X))
imputed_X_train.columns = X.columns

In [12]:
imputed_X_train

,Square(gectar),Rating (google map),Number of reviews (google map),Numbers of signatures (change.org),Cost for 1sqm (th.rub),Rents’ cost(AVG)(thous. rub,Population of district,City_Moscow,City_Saint-Petersburg
0,16.60,4.500000,1229.0,6791.0,135000.0,41418.0,83046.0,1.0,0.0
1,7.90,4.000000,155.0,920.0,150259.0,43596.0,195476.0,1.0,0.0
2,51.00,4.600000,9844.0,0.0,224452.0,40000.0,54712.0,1.0,0.0
3,11.20,4.700000,189.0,100.0,252369.0,60000.0,60171.0,1.0,0.0
4,1000.00,4.500000,164.0,0.0,137851.0,30000.0,259550.0,1.0,0.0
5,48.70,4.700000,8372.0,1828.0,264444.0,51000.0,87458.0,1.0,0.0
6,42.00,4.700000,3982.0,1939.0,308571.0,75000.0,72732.0,1.0,0.0
7,18.00,4.500000,3464.0,49712.0,230769.0,40000.0,83824.0,1.0,0.0
8,0.50,4.553846,6015.0,0.0,375000.0,130000.0,61542.0,1.0,0.0
9,10.00,4.600000,354.0,15254.0,225275.0,38000.0,8469.0,1.0,0.0
10,2.00,4.553846,6015.0,37740.0,234375.0,46800.0,63697.0,1.0,0.0
11,14.42,4.500000,4146.0,4229.0,123000.0,21808.0,356628.0,0.0,1.0
12,54.68,4.700000,32984.0,96012.0,128205.0,25000.0,573024.0,0.0,1.0
13,150.00,4.600000,4907.0,2849.0,138598.0,27000.0,522746.0,0.0,1.0
14,98.00,4.600000,8405.0,4388.0,108696.0,20000.0,529187.0,0.0,1.0

In [13]:
from sklearn import preprocessing


scaled_data = preprocessing.scale(imputed_X_train)

In [14]:
scaled_data

array([[-3.49643794e-01, -3.24780240e-01, -6.09105681e-01,
        -3.07014417e-01, -8.89168936e-01, -1.71411202e-01,
        -6.14540561e-01,  6.03022689e-01, -6.03022689e-01],
       [-3.85402818e-01, -3.34059676e+00, -7.45791745e-01,
        -5.32518180e-01, -6.88037725e-01, -8.94823049e-02,
        -2.78721834e-02,  6.03022689e-01, -6.03022689e-01],
       [-2.08251789e-01,  2.78383063e-01,  4.87309999e-01,
        -5.67855169e-01,  2.89911548e-01, -2.24751503e-01,
        -7.62389550e-01,  6.03022689e-01, -6.03022689e-01],
       [-3.71839050e-01,  8.81546366e-01, -7.41464626e-01,
        -5.64014192e-01,  6.57889792e-01,  5.27579966e-01,
        -7.33904069e-01,  6.03022689e-01, -6.03022689e-01],
       [ 3.69235903e+00, -3.24780240e-01, -7.44646331e-01,
        -5.67855169e-01, -8.51589470e-01, -6.00917238e-01,
         3.06470871e-01,  6.03022689e-01, -6.03022689e-01],
       [-2.17705325e-01,  8.81546366e-01,  2.99971185e-01,
        -4.97642108e-01,  8.17052213e-01,  1.89030805e-01,
        -5.91518406e-01,  6.03022689e-01, -6.03022689e-01],
       [-2.45243884e-01,  8.81546366e-01, -2.58736283e-01,
        -4.93378624e-01,  1.39869694e+00,  1.09182857e+00,
        -6.68359806e-01,  6.03022689e-01, -6.03022689e-01],
       [-3.43889468e-01, -3.24780240e-01, -3.24661219e-01,
         1.34157134e+00,  3.73176891e-01, -2.24751503e-01,
        -6.10480897e-01,  6.03022689e-01, -6.03022689e-01],
       [-4.15818540e-01,  5.35716629e-15,  0.00000000e+00,
        -5.67855169e-01,  2.27430775e+00,  3.16074011e+00,
        -7.26750085e-01,  6.03022689e-01, -6.03022689e-01],
       [-3.76771330e-01,  2.78383063e-01, -7.20465370e-01,
         1.80474708e-02,  3.00759637e-01, -2.99984650e-01,
        -1.00368908e+00,  6.03022689e-01, -6.03022689e-01],
       [-4.09653191e-01,  5.35716629e-15,  0.00000000e+00,
         8.81729571e-01,  4.20708128e-01,  3.10411964e-02,
        -7.15505130e-01,  6.03022689e-01, -6.03022689e-01],
       [-3.58604101e-01, -3.24780240e-01, -2.37864296e-01,
        -4.05420249e-01, -1.04734277e+00, -9.09072207e-01,
         8.13031334e-01, -1.65831240e+00,  1.65831240e+00],
       [-1.93126133e-01,  8.81546366e-01,  3.43229651e+00,
         3.11994372e+00, -9.78734870e-01, -7.89000105e-01,
         1.94220229e+00, -1.65831240e+00,  1.65831240e+00],
       [ 1.98661247e-01,  2.78383063e-01, -1.41013183e-01,
        -4.58425733e-01, -8.41743148e-01, -7.13766958e-01,
         1.67984782e+00, -1.65831240e+00,  1.65831240e+00],
       [-1.50708532e-02,  2.78383063e-01,  3.04171036e-01,
        -3.99313096e-01, -1.23588598e+00, -9.77082972e-01,
         1.71345745e+00, -1.65831240e+00,  1.65831240e+00]])

In [15]:
y

0     1
1     0
2     1
3     1
4     0
5     0
6     1
7     0
8     1
9     0
10    0
11    1
12    0
13    0
14    1
Name: who_win, dtype: int64

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:

forest_model = RandomForestClassifier(random_state=1)
forest_model.fit(imputed_X_train, y)

RandomForestClassifier(random_state=1)

In [18]:
from sklearn.model_selection import KFold
kf = KFold(n_splits = 2,shuffle=True, random_state=42)

In [19]:
accuracy = []

from sklearn.ensemble  import RandomForestClassifier
from sklearn.model_selection import cross_val_score
k = list(range(1,51))
for i in k:
    quality = cross_val_score(RandomForestClassifier(n_estimators=i), scaled_data, y, cv=kf, scoring='accuracy') 
    #print("Accuracy:\n", quality)
    #print("R = ",i,"   ",quality.mean())
    accuracy.append(quality.mean())
print(max(accuracy))

0.75

In [20]:
 from sklearn.naive_bayes import GaussianNB

In [21]:
gnb = GaussianNB()
gnb.fit(imputed_X_train, y)
#scaled_data imputed_X_train
from sklearn.model_selection import cross_val_score
scores_gnb = cross_val_score(gnb, imputed_X_train, y,
                              cv=kf,
                              scoring='accuracy')
print("Accuracy:\n", scores_gnb)
print("Accuracy:\n",scores_gnb.mean())

Accuracy:
 [0.625      0.85714286]
Accuracy:
 0.7410714285714286

In [24]:
import numpy as np
params = np.array([20,4.5,2000,300,135458,50000,10000,1,0])
params = params.reshape(1,-1)
gnb.predict(params)

array([1], dtype=int64)

In [25]:
gnb.predict(params)

array([1], dtype=int64)

In [26]:
from sklearn.inspection import permutation_importance
imps = permutation_importance(gnb, imputed_X_train, y)
print(imps.importances_mean)

[0.08       0.         0.02666667 0.14666667 0.         0.01333333
 0.         0.         0.        ]

In [27]:
feature_importances_df_gnb  = pd.DataFrame({'features':list(imputed_X_train), 'feature_importances':imps.importances_mean})

In [28]:
feature_importances_df_gnb.sort_values('feature_importances', ascending=False)

                             features  feature_importances
3  Numbers of signatures (change.org)             0.146667
0                      Square(gectar)             0.080000
2      Number of reviews (google map)             0.026667
5         Rents’ cost(AVG)(thous. rub             0.013333
1                 Rating (google map)             0.000000
4              Cost for 1sqm (th.rub)             0.000000
6              Population of district             0.000000
7                         City_Moscow             0.000000
8               City_Saint-Petersburg             0.000000

In [29]:
importances = forest_model.feature_importances_

In [30]:
feature_importances_df  = pd.DataFrame({'features':list(imputed_X_train), 'feature_importances':importances})

In [31]:
feature_importances_df.sort_values('feature_importances', ascending=False)

                             features  feature_importances
4              Cost for 1sqm (th.rub)             0.212075
3  Numbers of signatures (change.org)             0.175322
6              Population of district             0.168907
5         Rents’ cost(AVG)(thous. rub             0.167159
0                      Square(gectar)             0.123332
2      Number of reviews (google map)             0.098307
1                 Rating (google map)             0.036839
8               City_Saint-Petersburg             0.012349
7                         City_Moscow             0.005710

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( imputed_X_train, y, test_size=0.33, random_state=1)

In [27]:
y_pred = gnb.predict(X_test)



from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import confusion_matrix 
 

cm = confusion_matrix(y_test, y_pred) 
cm

array([[2, 0],
       [0, 3]], dtype=int64)

In [28]:
forest_model_train_test  = RandomForestClassifier(random_state=1)

gnb.fit(X_train, y_train)

GaussianNB()

In [29]:
y_pred = forest_model.predict(X_test)

In [30]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

1.0

In [31]:
y_test

3     1
7     0
6     1
2     1
10    0
Name: who_win, dtype: int64

In [32]:
y_pred

array([1, 0, 1, 1, 0], dtype=int64)

In [33]:
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import confusion_matrix 
 

cm = confusion_matrix(y_test, y_pred) 
cm

array([[2, 0],
       [0, 3]], dtype=int64)